{% extends "app/base.html" %}

{% comment 'SPDX-FileCopyrightText' %}
SPDX-FileCopyrightText: 2025 Imran M <imran@imranmustafa.net>

SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}

{% block body %}
{% if request.user.is_authenticated %}
<p>Hello, {{ user.username }}!</p>
<p>uuid, {{ user.actor.id }}</p>
<a hx-boost="true" href="{% url 'post' %}">post</a>

{% else %}
<p>Hello, World!</p>
{% endif %}
<hr/>
{% for p in posts %}
{% include 'app/obj.html' with obj=p %}
{% endfor %}
{% endblock %}
