{% extends "app/base.html" %}

{% comment 'SPDX-FileCopyrightText' %}
SPDX-FileCopyrightText: 2025 Imran M <imran@imranmustafa.net>

SPDX-License-Identifier: AGPL-3.0-or-later
{% endcomment %}


{% block body %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'signup' %}">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="signup">
</form>
<input type="hidden" name="next" value="{{ next }}">

{# Assumes you set up the password_reset view in your URLconf #}
<p><a href="{% url 'login' %}">Already have an account?</a></p>

{% endblock %}
